body {
    margin: 60px auto;
    width: 70%;
    background-color: #660000;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #FFFFCC;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 5vmin;
    font-family:'Helvetica', 'Sans-Serif';
    color: #FF9933;
}
h2 {
    font-size:3vmin;
    font-family:'Helvetica', 'Sans-Serif';
    font-weight: bold;
    color:#FF0033;
}
p {
    font-size: 2vmin;
    font-family:'Verdana', 'Sans-Serif';
    color: #F0EDE5;
}
ul {
    font-size: 2vmin;
    font-family:'Verdana', 'Sans-serif';
}

footer {
    border-top: 1px solid #FF9933;
    font-size: 2vmin;
    font-family:'Verdana', 'Sans-serif';
    color: #F0EDE5;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-family:'Verdana', 'Sans-Serif';
    font-size: 2vmin;
}

ul.posts li {
    list-style: none;
    font-family: 'Verdana', 'Sans-Serif';
}
