<!DOCTYPE html>
<html>
	<head>
		<title>{{page title}}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>	
		<div class="container">
    		<div class="blurb">
        		{{content}}
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:megan.mcshea@gmail.com" target="_blank">email me</a></li>
			<li><a href="https://twitter.com/meganmcshea" target="_blank">find me on Twitter</a></li>
			</ul>
		</footer>
	</body>
</html>
